/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full Black Background */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}
