
.admin-sidebar {
  width: 600px;
  background: #0f172a;
  padding: 30px 20px;
  color: white;
  display: flex;
  flex-direction: column;
}


.admin-sidebar .sidebar-header h2 {
  font-size: 70px;
  margin-bottom: 40px;
  color: #cbd5e1;
}


.admin-sidebar .sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
}


.admin-sidebar .sidebar-menu a {
  font-size: 50px;
  padding: 20px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s ease;
  width: 100%;
}


.admin-sidebar .sidebar-menu a:hover {
  background: rgba(59, 130, 246, 0.2);
}


.admin-sidebar .sidebar-menu a.active {
  background: #2563eb;
  color: white;
}
.admin-wrapper {
  display: flex;
  height: 100vh;   
}
.admin-main{
  flex: 1;
  padding: 30px;
  background:#1e293b;
  overflow-y: auto;
  font-size: 38px;
  font-weight: 300px;
}
.admin-container {
  width: 100%;
}

.admin-card {
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 35px;
  color: white;
}

.admin-table th,
.admin-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #334155;
  font-size: 37px;
  font-weight: 400;
}

.admin-table th {
  background: #1e293b;
  font-size: 45px;

}
.badge-high {
  background: #ef4444;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 600;
}

.badge-medium {
  background: #f59e0b;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 600;
}

.action-danger {
  color: #ef4444;
  font-weight: 600;
}

.action-warning {
  color: #f59e0b;
  font-weight: 600;
}

.action-monitor {
  color: #3b82f6;
  font-weight: 500;
}
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.trend-card {
  background: rgba(30, 41, 59, 0.7);
  padding: 25px;
  border-radius: 20px;
  margin-top: 30px;
}

.table-card {
  background: rgba(30, 41, 59, 0.7);
  padding: 25px;
  border-radius: 20px;
  margin-top: 30px;
  
}
.dashboard-container {
  padding: 30px;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  min-height: 100vh;
  color: white;
}

.card {
  padding: 42px;
  border-radius: 18px;
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
  min-height: 200px;
}

.card:hover {
  transform: translateY(-5px);
}

.card.blue {
  border: 1px solid #3b82f6;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
}

.card.red {
  border: 1px solid #ef4444;
  box-shadow: 0 0 20px rgba(239, 68, 68, 0.6);
}

.card.purple {
  border: 1px solid #8b5cf6;
  box-shadow: 0 0 20px rgba(139, 92, 246, 0.6);
}
.dashboard-title {
  font-size: 60px;   
  font-weight: 650;
  margin-bottom: 40px;
}
.card h1 {
  font-size: 56px;   
  font-weight: 600;
  margin-top: 15px;
}
.card h4 {
  font-size: 50px;  
  font-weight: 600;
}
.table-card h3 {
  font-size: 47px;   
  font-weight: 700;
  margin-bottom: 25px;
}
button {
  background-color: green;
  color: white;
  padding: 30px 55px;
  margin-top: 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-size: 45px;
}
button:hover {
  background-color: #7c3aed;
}