.message-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  width: 100%;
}

.message-row.user {
  justify-content: flex-end;
}

.message-row.stranger {
  justify-content: flex-start;
}

.message-row.bot {
  justify-content: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border:2px solid #1e293b;
   background: linear-gradient(135deg, #7b3fa0, #9b59b6)
}


.user-avatar {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: white;
  width: 60px;
  height: 60px;
}

.message-row.bot .avatar {
  background: linear-gradient(135deg, #87CEEB, #00BFFF);
  color: white; 
  border: 2px solid #1e293b; 
}


.chat-bubble {
  padding: 16px 20px;
  border-radius: 18px;
  max-width: 75%;
  font-size: 30px;
  line-height: 1.6;
  white-space: pre-line;
  box-shadow: 0 4px 14px rgba(0,0,0,0.3);
  animation: fadeInUp 0.25s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.user-bubble {
  background: linear-gradient(90deg, #4e73df, #9b59b6);
  color: white;
}

.stranger-bubble {
   background: linear-gradient(135deg, #2a1e3d, #3b2c55); 
  color: #e2e8f0; 
  border-radius: 18px;
  padding: 20px 24px; 
  font-size: 30px;    
  line-height: 1.8;   
  max-width: 75%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.25); 
}



.bot-bubble {
  background-color: #1e40af;
  color: white;
}



.message-text {
  margin-bottom: 5px;
}

.message-meta {
  padding: 6px;
  margin-top:5px;
  border-left: 4px solid #dc3545;
  background-color: #fff5f5;
  border-radius: 6px;
}
.message-footer {
  font-size: 0.75rem;
  text-align: right;
  color: #94a3b8;
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}


.timestamp{
  font-size: 1.2rem;
}

.seen-tick{
  margin-left:5px;
  color:#2196f3;
  font-size:16px;
}
